.book__content {
  position: absolute;
  color: #202020;
  z-index: -1;
  width: 100%;
}
.container__book {
  width: 80%;
  margin: 32px auto;
}
/* table */
table {
  border-collapse: collapse;
}
table thead {
  background-color: #087f5b;
  color: #fff;
}
th,
td {
  border: 1px solid #343a40;
  padding: 16px 24px;
  text-align: left;
  font-size: 17px;
  text-align: center;
}
td .a {
  background-color: #087f5b;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}
td button {
  background-color: #087f5b;
  padding: 7px 18px;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}
td button:hover,
td .a:hover {
  background-color: #3e7f08;
  color: #000;
}
thead th {
  width: 25%;
}
.image {
  width: 100%;
  text-align: center;
}
.image img {
  width: 40%;
}
tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
@media (max-width: 800px) {
  thead {
    display: none;
  }
  table,
  table tbody,
  table tr,
  table td {
    display: block;
    width: 100%;
  }
  table tr {
    margin-bottom: 20px;
  }
  table tbody tr td {
    text-align: right;
    position: relative;
  }
  table td::before {
    content: attr(data);
    position: absolute;
    left: 0;
    padding-left: 15px;
  }
}
