.home__page{
    width: 90%;
    margin: auto;
}

.home__page h2{
    color: rgb(207, 24, 70);
}

.home__page table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.home__page td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.home__page tr:nth-child{
    background-color: #dddddd;
}